*{
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-family: sans-serif;
}

header{
  color: rgb(255, 255, 255);
  padding: 10px;
  margin: 10px ;
  border-radius: 10px;
  background-color: black;
}

ul{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
li{
  list-style: none;
  padding: 20px;
  margin: 10px;

}
header a{
  text-decoration: none;
  color: white;
}



.grids{
  display: grid;
  grid-template-columns: repeat(10,1fr);
  gap: 10px;
  padding: 10px;
}

.grid{
  padding: 10px;
  text-align: center;
}
.grid p,span{
  color: white;
}
.grid p{
  font-weight: bold;
  font-size: 16px;
}
.grid a{
  text-decoration: none;
  color: white;
}



img{
  max-width: 100%;
  height: auto;
}


@media (max-width:1000px){
  .grids{
    display: grid;
    grid-template-columns: repeat(5,2fr);
  }   
}

@media (max-width: 600px){
  .grids{
    display: grid;
    grid-template-columns: repeat(3,2fr);
  }
}